#content #collections .collections-category {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--collections-min-width), 1fr));
  column-gap: 16px;
  margin-bottom: 48px;
  row-gap: 32px;
}

#content #collections .collection-category-title-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  margin: 8px 0 8px 0;
  gap: 8px;
}

#content #collections .collection-category-title-container:hover{
outline: 2px solid var(--text);
}

#content #collections .collection-item-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#content #collections .collection-item-container .item-name {
  color: var(--text);
}

#content #collections .collection-item-container.undiscovered .item-name {
  color: var(--light-gray);
}

#content #collections .collection-item-container.maxed .item-name {
  color: var(--green);
}

#content #collections .collection-item-container .bar-container {
  display: flex;
}

#content #collections .collection-item-container .bar {
  width: 100%;
  background-color: var(--gray);
  border-radius: 16px;
  height: 8px;
}

#content #collections .collection-item-container.undiscovered .bar {
  background-color: var(--dark-gray);
}

#content #collections .collection-item-container .bar-fill {
  background-color: var(--green);
  border-radius: 16px;
  height: 8px;
}

#content #collections .collection-item-container .unlocks {
  color: var(--light-gray);
  display: none;

}

#content #collections .collection-item-container.undiscovered .unlocks {
  color: var(--gray);
}
