#content #skills {
  display: grid;
  row-gap: 24px;
  margin-top: 16px;
  column-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}


#content #skills .skill-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#content #skills .skill-container .skill-name-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 4px;
}

#content #skills .skill-container .skill-name-container img {
  height: 24px;
  width: 24px;
}

#content #skills .skill-container .skill-name-container h4 {
  margin: 0;
}

#content #skills .skill-container .skill-name-container p {
  font-size: 16px;
  margin-bottom: 1px;
  margin-left: 8px;
}

#content #skills .skill-container .bar {
  width: 100%;
  background-color: var(--gray);
  border-radius: 16px;
  height: 8px;
}

#content #skills .skill-container .bar-fill {
  background-color: var(--green);
  border-radius: 16px;
  height: 8px;
}
